---
import { asset } from '@/utils/url';
---
<div class="hero-bg" data-hero-bg aria-hidden="true">
  <div class="hero-bg__layer" data-hero-bg-layer>
    <img
      src={asset('/images/hero-1600.jpg')}
      srcset={`${asset('/images/hero-960.jpg')} 960w, ${asset('/images/hero-1600.jpg')} 1600w, ${asset('/images/hero-2400.jpg')} 2400w`}
      sizes="100vw"
      alt=""
      loading="eager"
      decoding="async"
    />
  </div>
  <div class="hero-bg__overlay"></div>
</div>
