---
import { site } from '@/data/site';
---
<section class="hero">
  <div class="hero__name-wrap" data-reveal>
    <div class="hero__intro-line">Hi there, this is</div>
    <h2 class="hero__name">
      <span class="first">{site.firstName}</span>{' '}
      <span class="last">{site.lastName}</span>
    </h2>
  </div>

  <h1 class="hero__headline" data-reveal>
    <span class="hero__headline-main">{site.heroHeadline}</span>
    <span class="accent">{site.heroAccentWord}</span>
  </h1>

  <span class="hero__scroll-hint">Scroll down</span>
</section>
