---
import { asset } from '@/utils/url';
type Props = { label: string; title: string; href: string };
const { label, title, href } = Astro.props;
---
<a class="next-post" href={asset(href)} data-cursor="-pointer" data-cursor-text="Go">
  <div class="next-post__label">{label}</div>
  <div class="next-post__title">{title}</div>
</a>
